body{
  transition: background 0.2s;
  scroll-behavior:smooth;
  user-select:none;
  -webkit-tap-highlight-color:rgba(157, 98, 255, 0.3)
}
body.darkmode{
  background:var(--dark);
  --violet:#6E39CB;
  color:white;
 
}
body.darkmode .card{
  background:#444;
  color:white;
}
body.darkmode .list{
  background:#444;
  color:white;
}
@media only screen and (min-width: 768px){

}
.img{
  max-height:80vh;
  display:block;
}
.loader{
  width:100px!important;
}
.loader span{
  width:20px !important;
  height:20px!important;
}
.video-player{
  width:100%;
  margin-top:1rem;
}
.anime-card{
  perspective:1000px;
  transition:0.32s;
  cursor:pointer;
}
.anime-card:active{
 transform:scale(1.1);
  
}
#details-genre{
  font-size:0.7rem;
}
#details-info{
  display:inline;
  width:inherit;
  font-size:0.98rem;
  word-wrap:balance;
  width:90%;
}
.flex-btw{
  justify-content: space-between;
}


.anime-card img{
  max-height:20rem;
  width:100%;
}
#watch-episodes{
  display:flex;
  flex-wrap:wrap;
  max-height:30rem;
  overflow-y:scroll;
}
.opacity{
  opacity:0.73;
}
.anime-tag{
  margin:0.1rem;
  background:var(--violet);
   opacity:0.73;
   font-family:'Roboto',sans-serif;
  color:#fff;
}
#searchbox{
  align-items:center;
}
#searchbox .btn{
  height:100%;
  
  
}
#loader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,0.92);
  z-index:100000;
}
#loader.hide{
  display:none;
}
.loader span{
  background:var(--violet);
}
#details-img{
  width:20rem;
  height:25rem;
}
#details-container{
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
}
#info-container{
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  overflow-y:scroll;
}
.swiper {
  width: 100%;
  height:17rem;
  
}
.swiper-slide{
  width:100%;
  height:100%;
  display:flex;
}
.slide{
  width:100%;
  background-size:cover!important;
  background-position:center center !important;
  background-repeat:no-repeat!important;
  position:relative;
  
}
.swiper-pagination *{
  background:var(--violet);
}
.slide h1{
  position:relative;
  font-family:"Montserrat",sans-serif;
  color:#fff;
  margin-bottom:1rem;
  
}
.slide-container{
  width:100%;
 position: relative;
  height:100%;
  background:rgba(36, 19, 47, 0.41);
  backdrop-filter:blur(3px);
}
.tobot{
  position:absolute;
  bottom:0;
  padding:1rem;
}
.slide-container .btn{
  margin:0;
}

.anime-tile-container{
  height:14rem;
  width:90vw;
  overflow-x:scroll !important;
  padding:0.2rem 0;
  overflow:auto;
  display:flex;
  flex-direction:row;
}

.anime-tile{
  display: inline-block;
  flex:0 0 7rem;
  width:7rem;
  height:12rem;
  background:rgba(118, 99, 251, 1);
  background-size:cover !important;
  background-position:center center;
  margin-left:0.2rem;
  cursor:pointer;
}
.anime-tile::after{
  content:attr(pos);
  padding:0.1rem 0.5rem;
  background:var(--violet);
  color:white;
  border-bottom-right-radius:0.2rem;
  font-family:'Montserrat',sans-serif;
  font-size:0.8rem;
  
}
.wrap-min{
  padding-top:1.5rem;
}
